<app-admin-navbar></app-admin-navbar>
<div class="container-fluid full-width-container value-added-detail-page">

  <div class="table-responsive pmd-card pmd-z-depth">

    <table class="table table-mc-red pmd-table">
      <thead>
        <tr>
          <th>Aadhar No.</th>
          <th>Email</th>
          <th>Full Name</th>
          <th>Mobile No.</th>
          <th>City</th>
          <th>State</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" id="{{user._id}}">
          <td data-title="Username">{{user.aadharno}}</td>
          <td data-title="Email" >{{user.email}}</td>
          <td data-title="Full Name">{{user.profile.firstname}} {{user.profile.lastname}}</td>
          <td data-title="Mobile">{{user.mobileno}}</td>
          <td data-title="City">{{user.profile.city}}</td>
          <td data-title="State">{{user.profile.state}}</td>
          <td class="pmd-table-row-action">
              <button type="button" class="btn pmd-btn-raised pmd-ripple-effect btn-success" *ngIf="!user.kycVerified" (click)="onVerifyClick(user._id)">Verify KYC</button>
              <button type="button" class="btn pmd-ripple-effect btn-danger" *ngIf="user.kycVerified" (click)="onDisverifyClick(user._id)">Disverify KYC </button>
          </td>
      
        </tr>

      </tbody>
    </table>

  </div>

</div>
