<app-navbar></app-navbar>

<div class="container-fluid full-width-container about">

  <div class="page-content profile-edit section-custom">
    <h2>Election</h2>
    <div class="pmd-card pmd-z-depth">
      <div class="pmd-card-body">

        <div class="row main">
          <div class="col-lg-9 custom-col-9">
            <div class="row">

              <label class="col-sm-3 control-label" for="u_fname">Your unique address :</label>
              <div class="col-sm-9">
                <span>{{account}}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row main">
          <div class="col-lg-9 custom-col-9">
            <div class="row">

              <label class="col-sm-3 control-label" for="u_fname">Election Status:</label>
              <div class="col-sm-9">
                <span *ngIf="!isStopped">Running</span>
                <span *ngIf="isStopped">Stopped</span>
              </div>
            </div>
          </div>
        </div>


        <div class="row main">
            <div class="col-lg-9 custom-col-9">
              <div class="row">
  
                <label class="col-sm-3 control-label" for="u_fname">Your voting:</label>
                <div class="col-sm-9">
                  <span *ngIf="!hasVoted">Not Voted</span>
                  <span *ngIf="hasVoted">Voted</span>
                </div>
              </div>
            </div>
          </div>


        <div class="row main" *ngIf="isStopped">
          <div class="col-lg-9 custom-col-9">
            <div class="row">

              <label class="col-sm-3 control-label" for="u_fname">Result:</label>
              <div class="col-sm-9">
                <button class="btn btn-primary pmd-checkbox-ripple-effect" (click)="showResult()">Show Result</button>
              </div>

            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="page-content profile-edit section-custom">
    <h2>Vote</h2>
    <div class="pmd-card pmd-z-depth">
      <div class="pmd-card-body">

        <div class="row">
          <table class="table table-mc-red pmd-table">
            <thead>
              <tr>
                <th>Candidate Name</th>
                <th>Party Symbol</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candidate of candidates">
                <td>{{candidate[0]}}</td>
                <td>{{candidate[1]}}</td>
                <td class="pmd-table-row-action">
                  <button [disabled]="hasVoted" type="button" class="btn pmd-ripple-effect btn-success" (click)="onvoteCandidate(candidate[1])">Vote</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>
