nav {
    border-radius: 0%;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgba(0,0,0,0.5);
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin: 0px 20px 0px 0px !important;
    padding: 0px !important;
    height: 63px;
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

li:hover {
    background: #2764c9;
    transition: 0.5s all;
    cursor: pointer;
}

@media only screen and (max-width : 480px) {
    .logo {
        display: none;
    }
    .navbar-brand {
        font-size: 20px;
        height: 55px !important;
    }
}