<div class="logincard">
  <div class="pmd-card card-default pmd-z-depth">
   

    <div class="forgot-password-card" style="display: block;">
      <form>
        <div class="pmd-card-title card-header-border text-center">
          <div class="loginlogo">
            <a href="https://www.erc100.com">
              <img src="assets/images/edel_logo.png" alt="Logo">
            </a>
          </div>
          <h3>Forgot password?
            <br>
            <span>Submit your email address and we'll email you instrstuctions to reset your password.</span>
          </h3>
        </div>
        <div class="pmd-card-body">
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Email address</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">email</i>
              </div>
              <input type="text" class="form-control" id="exampleInputAmount" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
              <span class="pmd-textfield-focused"></span>
            </div>
          </div>
        </div>
        <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
          <a type="button" class="btn pmd-ripple-effect btn-primary btn-block" (click)="forgotpasswordClick()">Submit</a>
          <p class="redirection-link">Already registered?
            <a routerLink="/login" class="register-login">Sign In</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
