<nav class="navbar navbar-inverse pmd-navbar pmd-z-depth">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <img class="logo" src="assets/img/logo.png" alt="Logo"> Decentralized Voting
      </a>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li>
          <a [routerLink]="['/users']">Users</a>
        </li>
        <li>
            <a [routerLink]="['/election']">Election</a>
        </li>
        <li>
            <a [routerLink]="['/candidates']">Candidates</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a (click)="onLogoutClick()">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
