<!--
<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Decentralized Voting App
      </h1>
    </div>
  </div>
</section>
-->
<router-outlet></router-outlet>

