<div class="logincard">
  <div class="pmd-card card-default pmd-z-depth">
    <div class="login-card">
      <form (submit)="loginSubmit()">
        <div class="pmd-card-title card-header-border text-center">
          <div class="loginlogo">
            <a href="/">
              <img src="assets/img/logo.png" alt="Logo">
            </a>
          </div>
          <h3>
            <strong>Sign In | Admin Panel</strong>
          </h3>
        </div>

        <div class="pmd-card-body">
          <div class="alert alert-success" role="alert"> Oh snap! Change a few things up and try submitting again. </div>
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Username</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">perm_identity</i>
              </div>
              <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" id="usernameInput">
            </div>
          </div>

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">lock_outline</i>
              </div>
              <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="passwordInput">
            </div>
          </div>
          <input type="submit" class="btn pmd-ripple-effect btn-primary btn-block" value="Login">
        </div>
        
      </form>
    </div>
