<div class="logincard">
    <div class="pmd-card card-default pmd-z-depth">
  
      <div class="register-card">
        <div class="pmd-card-title card-header-border text-center">
          <div class="loginlogo">
            <a href="javascript:void(0);">
              <img src="assets/img/logo.png" alt="Logo">
            </a>
          </div>
          <h3>
              <strong>Login</strong>
          </h3>
        </div>
        <form (submit)="loginSubmit()">
          <div class="pmd-card-body">
  
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="inputError1" class="control-label pmd-input-group-label">Aadhar Number</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="material-icons md-dark pmd-sm">perm_identity</i>
                </div>
                <input type="text" [(ngModel)]="aadharno" [ngModelOptions]="{standalone: true}" class="form-control" id="aadharInput" maxlength="12">
              </div>
            </div>
  
      
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="material-icons md-dark pmd-sm">lock_outline</i>
                </div>
                <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="passwordInput">
              </div>
            </div>

            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="inputError1" class="control-label pmd-input-group-label">OTP (IF 2FA ENABLED)</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="material-icons md-dark pmd-sm">perm_identity</i>
                </div>
                <input type="text" [(ngModel)]="token" [ngModelOptions]="{standalone: true}" class="form-control" id="tokenInput">
              </div>
            </div>
  
          </div>
  
          <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
            <input type="submit" class="btn pmd-ripple-effect btn-primary btn-block" value="Login">
            <p class="redirection-link">Doesn't have an account?
              <a [routerLink]="['/signup']" class="register-login">Sign Up</a>. </p>
          </div>
        </form>
      </div>
  
    </div>
  </div>
  