<app-admin-navbar></app-admin-navbar>


<div class="container-fluid full-width-container about">

  <div class="page-content profile-edit section-custom">
    <h2>Manage Election</h2>
    <div class="pmd-card pmd-z-depth">
      <div class="pmd-card-body">

        <div class="row main">
          <div class="col-lg-9 custom-col-9">
            <div class="row">

              <label class="col-sm-3 control-label" for="u_fname">Winner:</label>
              <div class="col-sm-9">
                <span>winner</span>
              </div>

            </div>
          </div>
        </div>

        <div class="row main">
          <div class="col-lg-9 custom-col-9">
            <div class="row">

              <label class="col-sm-3 control-label" for="u_fname">Election Status:</label>
              <div class="col-sm-9">
                <span *ngIf="!isStopped">Running</span>
                <span *ngIf="isStopped">Stopped</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row main" *ngIf="isStopped">
          <div class="col-lg-9 custom-col-9">
            <div class="row">

              <label class="col-sm-3 control-label" for="u_fname">Start:</label>
              <div class="col-sm-9">
                <button class="btn btn-success pmd-checkbox-ripple-effect" (click) = "startElection()">Start Election</button>
              </div>

            </div>
          </div>
        </div>

        <div class="row main" *ngIf="!isStopped">
          <div class="col-lg-9 custom-col-9">
            <div class="row">

              <label class="col-sm-3 control-label" for="u_fname">Stop:</label>
              <div class="col-sm-9">
                <button class="btn btn-danger pmd-checkbox-ripple-effect" (click)="stopElection()">Stop Election</button>
              </div>

            </div>
          </div>
        </div>

        <div class="row main" *ngIf="isStopped">
          <div class="col-lg-9 custom-col-9">
            <div class="row">

              <label class="col-sm-3 control-label" for="u_fname">Result:</label>
              <div class="col-sm-9">
                <button class="btn btn-primary pmd-checkbox-ripple-effect" (click)="showResult()">Show Result</button>
              </div>

            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="page-content profile-edit section-custom" *ngIf="isResultDeclared">
      <h2>Result</h2>
      <div class="pmd-card pmd-z-depth">
        <div class="pmd-card-body">
  
          <div class="row">
            <table class="table table-mc-red pmd-table">
              <thead>
                <tr>
                  <th>Candidate Name</th>
                  <th>Party Symbol</th>
                  <th>Total Votes</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let el of result">
                  <td>{{ el[0] }}</td>
                  <td>{{ el[1] }}</td>
                  <td>{{ el[2] }}</td>
                  <td class="pmd-table-row-action">
                    <button type="button" class="btn pmd-ripple-effect btn-success" (click)="declareWinner(el[1])">Declare Winner</button>
                    <button type="button" class="btn pmd-ripple-effect btn-danger" (click)="declareTie()">Declare Tie</button>
                  </td>
                </tr>
  
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
    </div>
</div>
