<div class="logincard ratecard">
  <div class="pmd-card card-default pmd-z-depth">
    <div class="login-card">
      <div class="pmd-card-body">
        <div class="rate">
            Available Supply: <span id="available_token" class="is-medium has-underline">  </span> ERCX
        </div>
        <div class="rate">
            Your Balance :  <span id="balance" class="is-medium has-underline">  </span> ERCX
        </div>
        <div class="rate">
            <span id="transaction" class="is-medium has-underline">  </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="logincard">
  <div class="pmd-card card-default pmd-z-depth">
    <div class="login-card">
      <div class="pmd-card-body">
        <div class="rate">
          <strong> 1 ETH = 600 ERCX</strong>
        </div>
        <div class="form-group pmd-textfield pmd-textfield-floating-label">
          <label for="inputError1" class="control-label pmd-input-group-label">Amount in ERCX</label>
          <input [(ngModel)]="sendingAmount" class="form-control" type="text" name="sendingAmount" required #sendingAmountModel="ngModel"
            (keyup)="calculatePrice($event)">
        </div>
        <div *ngIf="sendingAmountModel.errors && (sendingAmountModel.dirty || sendingAmountModel.touched)" class="error">
          <p [hidden]="!sendingAmountModel.errors.required">
            Error : This field is required
          </p>
        </div>
        <div *ngIf="!sendingAmountModel.errors && (sendingAmountModel.dirty || sendingAmountModel.touched)" class="error">
          <p [hidden]="canBeNumber(sendingAmount)">
            Error : Must be a number
          </p>
        </div>

        <button [disabled]="!isValid()" (click)="buyTokens()" class="btn pmd-ripple-effect btn-primary btn-block">
          Pay &nbsp;
          <span *ngIf="isValid()"> {{etherAmount}} ETH</span>
        </button>
      </div>

    </div>
  </div>
</div>
