<div class="logincard">
  <div class="pmd-card card-default pmd-z-depth">

    <div class="register-card">
      <div class="pmd-card-title card-header-border text-center">
        <div class="loginlogo">
          <a href="https://www.erc100.com">
            <img src="assets/images/edel_logo.png" alt="Logo">
          </a>
        </div>
        <h3>
          <strong>Reset Password</strong>
        </h3>
      </div>
      <form>
        <div class="pmd-card-body">

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Secret Code:</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">perm_identity</i>
              </div>
              <input type="text" [(ngModel)]="secret" [ngModelOptions]="{standalone: true}" class="form-control" id="usernameInput">
            </div>
          </div>


          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">lock_outline</i>
              </div>
              <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="passwordInput">
            </div>
          </div>

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Confirm Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">lock_outline</i>
              </div>
              <input type="password" [(ngModel)]="cpassword" [ngModelOptions]="{standalone: true}" class="form-control" id="cpasswordInput">
            </div>
          </div>


        </div>


        <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
          <input type="button" class="btn pmd-ripple-effect btn-primary btn-block" value="Reset Password" (click)="resetPassword()">
        </div>

      </form>
    </div>

  </div>
</div>
