<app-admin-navbar></app-admin-navbar>

<div class="container-fluid full-width-container about">

  <div class="page-content profile-edit section-custom">
    <h2>Total Candidates</h2>
    <div class="pmd-card pmd-z-depth">
      <div class="pmd-card-body">

        <div class="row">
          <table class="table table-mc-red pmd-table">
            <thead>
              <tr>
                <th>Candidate Name</th>
                <!--<th>Party</th>-->
                <th>Party Symbol</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let candidate of candidates">
                <td>{{candidate[0]}}</td>
                <td>{{candidate[1]}}</td>
                <!--<td>{{candidate[2]}}</td> -->
                <td class="pmd-table-row-action">
                  <button type="button" class="btn pmd-ripple-effect btn-danger" (click)="onremoveCandidate(candidate[1])">Remove Candidate</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>

</div>

<div class="container-fluid full-width-container about">

  <div class="page-content profile-edit section-custom">
    <h2>Add Candidate</h2>
    <div class="pmd-card pmd-z-depth">
      <div class="pmd-card-body">


        <div class="row">
          <div class="col-lg-9 custom-col-9">
            <div class="row">
              <form class="form-horizontal">
                <fieldset>
                  <div class="form-group pmd-textfield">
                    <label class="col-sm-3 control-label" for="u_fname">Candidate Name</label>
                    <div class="col-sm-9">
                      <input type="text" [(ngModel)]="cname" [ngModelOptions]="{standalone: true}" class="form-control empty" id="inputName" placeholder="">
                      <span class="pmd-textfield-focused"></span>
                    </div>
                  </div>
                  <!-- 
                    <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label class="col-sm-3 control-label" for="u_fname">Party Name</label>
                    <div class="col-sm-9">
                      <input type="text" [(ngModel)]="pname" [ngModelOptions]="{standalone: true}" class="form-control empty" id="inputMobile"
                        placeholder="">
                      <span class="pmd-textfield-focused"></span>
                    </div>
                  </div> 
                -->
                  <div class="form-group pmd-textfield pmd-textfield-floating-label-completed">
                    <label class="col-sm-3 control-label" for="u_fname">Party Symbol</label>
                    <div class="col-sm-9">
                      <input type="text" [(ngModel)]="psym" [ngModelOptions]="{standalone: true}" class="form-control empty" id="inputMobile" placeholder="">
                      <span class="pmd-textfield-focused"></span>
                    </div>
                  </div>
                  <div class="form-group btns margin-bot-30">
                    <div class="col-sm-9 col-sm-offset-3">
                      <button type="submit" class="btn btn-primary pmd-ripple-effect" (click)="onAddCandidate()">Add</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
