<div class="logincard" *ngIf="stage==0">
  <div class="pmd-card card-default pmd-z-depth">
    <div class="register-card">
      <div class="pmd-card-title card-header-border text-center">
        <div class="loginlogo">
          <a href="javascript:void(0);">
            <img src="assets/img/logo.png" alt="Logo">
          </a>
        </div>
        <h3>
          <strong>Sign Up</strong>

        </h3>
      </div>
      <form>
        <div class="pmd-card-body">

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Aadhar Number</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">perm_identity</i>
              </div>
              <input type="text" [(ngModel)]="aadhar_no" [ngModelOptions]="{standalone: true}" class="form-control" id="aadharInput" maxlength="12">
            </div>
          </div>

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">lock_outline</i>
              </div>
              <input type="password" [(ngModel)]="password" id="password" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleInputAmount">
            </div>
          </div>

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Confirm Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">lock_outline</i>
              </div>
              <input type="password" [(ngModel)]="cpassword" id="cpassword" [ngModelOptions]="{standalone: true}" class="form-control"
                id="exampleInputAmount">
            </div>
          </div>
        </div>

        <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
          <input type="submit" class="btn pmd-ripple-effect btn-primary btn-block" value="Sign Up" (click)="stageOneSubmit()">
          <p class="redirection-link">Already have an account?
            <a [routerLink]="['/login']" class="register-login">Sign In</a>. </p>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="section section-custom" *ngIf="stage==1">
  <h2>Profile</h2>
  <form (submit)="profileSubmit()">
    <div class="pmd-card pmd-z-depth">
      <div class="pmd-card-body">

        <div data-provides="fileinput" class="fileinput fileinput-new col-lg-3">
          <div data-trigger="fileinput" class="fileinput-preview thumbnail img-circle img-responsive">
            <img src="assets/img/avtar-b.jpg">
          </div>
          <div class="action-button">
            <span class="btn btn-default btn-raised btn-file ripple-effect">
              <span class="fileinput-new">
                <i class="material-icons md-light pmd-xs">add</i>
              </span>
              <span class="fileinput-exists">
                <i class="material-icons md-light pmd-xs">mode_edit</i>
              </span>
              <input type="file" id="avatar">
            </span>
            <a data-dismiss="fileinput" class="btn btn-default btn-raised btn-file ripple-effect fileinput-exists" href="javascript:void(0);">
              <i class="material-icons md-light pmd-xs">close</i>
            </a>
          </div>
        </div>

        <div class="group-fields clearfix row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="regular1" class="control-label">
                First Name*
              </label>
              <input required type="text" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" class="form-control">
              <span class="pmd-textfield-focused"></span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="regular1" class="control-label">
                Last Name*
              </label>
              <input required type="text" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" class="form-control">
              <span class="pmd-textfield-focused"></span>
            </div>
          </div>
        </div>

        <div class="group-fields clearfix row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="regular1" class="control-label">
                Email
              </label>
              <input required type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control">
              <span class="pmd-textfield-focused"></span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="regular1" class="control-label">
                Mobile Number
              </label>
              <input required type="text" [(ngModel)]="mobile_no" [ngModelOptions]="{standalone: true}" class="form-control">
              <span class="pmd-textfield-focused"></span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="regular1" class="control-label">
                Zip Code
              </label>
              <input required type="text" [(ngModel)]="zipcode" [ngModelOptions]="{standalone: true}" class="form-control">
              <span class="pmd-textfield-focused"></span>
            </div>
          </div>
        </div>

        <div class="group-fields clearfix row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label>State</label>
              <select [(ngModel)]="state" [ngModelOptions]="{standalone: true}" class="select-simple form-control pmd-select2 select2-hidden-accessible"
                tabindex="-1" aria-hidden="true">
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Orissa">Orissa</option>
                <option value="Puducherry">Puducherry</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
              </select>
              <span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 178px;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                    aria-labelledby="select2-czzf-container">
                    <span class="select2-selection__rendered" id="select2-czzf-container" title=""></span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true"></span>
              </span>
              <span class="pmd-textfield-focused"></span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label>City</label>
              <select [(ngModel)]="city" [ngModelOptions]="{standalone: true}" class="select-simple form-control pmd-select2 select2-hidden-accessible"
                tabindex="-1" aria-hidden="true">
                <option value="Ahmedabad">Ahmedabad</option>
                <option value="Amreli district">Amreli district</option>
                <option value="Anand">Anand</option>
                <option value="Aravalli">Aravalli</option>
                <option value="Banaskantha">Banaskantha</option>
                <option value="Bharuch">Bharuch</option>
                <option value="Bhavnagar">Bhavnagar</option>
                <option value="Dahod">Dahod</option>
                <option value="Dang">Dang</option>
                <option value="Gandhinagar">Gandhinagar</option>
                <option value="Jamnagar">Jamnagar</option>
                <option value="Junagadh">Junagadh</option>
                <option value="Kutch">Kutch</option>
                <option value="Kheda">Kheda</option>
                <option value="Mehsana">Mehsana</option>
                <option value="Narmada">Narmada</option>
                <option value="Navsari">Navsari</option>
                <option value="Patan">Patan</option>
                <option value="Panchmahal">Panchmahal</option>
                <option value="Porbandar">Porbandar</option>
                <option value="Rajkot">Rajkot</option>
                <option value="Sabarkantha">Sabarkantha</option>
                <option value="Surendranagar">Surendranagar</option>
                <option value="Surat">Surat</option>
                <option value="Tapi">Tapi</option>
                <option value="Vadodara">Vadodara</option>
                <option value="Valsad">Valsad</option>
              </select>
              <span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 178px;">
                <span class="selection">
                  <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0"
                    aria-labelledby="select2-x48d-container">
                    <span class="select2-selection__rendered" id="select2-x48d-container" title=""></span>
                    <span class="select2-selection__arrow" role="presentation">
                      <b role="presentation"></b>
                    </span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true"></span>
              </span>
              <span class="pmd-textfield-focused"></span>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="form-group pmd-textfield pmd-textfield-floating-label">
              <label for="regular1" class="control-label">
                Street
              </label>
              <input required type="text" [(ngModel)]="street" [ngModelOptions]="{standalone: true}" class="form-control">
              <span class="pmd-textfield-focused"></span>
            </div>
          </div>

        </div>

        <div class="otp-container">
          <input type="button" class="btn btn-primary next" value="Send Email" (click)="signupSubmit()">
        </div>

      </div>

    </div>

  </form>
</div>
