<div class="notice">
  <h1>
    Looks like your email verification is pending! Please click on the vefication link sent to: {{email}} 
  </h1>

  <a type="button" class="btn pmd-ripple-effect btn-primary btn-block" (click)="onVerification()">Resend Email</a>
  <a type="button" class="btn pmd-ripple-effect btn-primary btn-block" (click)="onLogoutClick()">Logout</a>
</div>
